@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* ScrollBar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f0f8ff; 
   box-shadow: inset 0 0 5px  #E0A800; 
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6488ea;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #778abe;
}

/* ScrollBar */

/* --------------------------------------------------------------------------------- */

#navbar {
  position: fixed;
  top: -90px;
 
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  padding-top: 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-nav {
  text-align: center;
  color: #73c2fb;
  padding: 15px 0px;
}
.navbar-nav a {
  color: #73c2fb !important;
  font-family: "Raleway", sans-serif;
}
.navbar-nav a:hover {
  color: white !important;
  font-size: 20px;
  
  
}
.navbar-toggler {
  color: #73c2fb;
  
}
.custom-toggler.navbar-toggler {
  border-color: #73c2fb;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 115, 207)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.Signin {
  margin: 0 5px;
  border: 1.5px solid #f0f8ff;
  border-radius: 10px;
}
.Signin :hover {
  border-radius: 10px;
  background-color: #f0f8ff;
}

.Signin a {
  color: #73c2fb !important;
}
.Signin a:hover {
  color: rgb(0, 115, 207) !important;
}
.Signup {
  margin: 0 5px;
  border: 1.5px solid #f0f8ff;
  border-radius: 10px;
}
.Signup :hover {
  border-radius: 10px;
  background-color: #f0f8ff;
}

.Signup a {
  color: #73c2fb !important;
}
.Signup a:hover {
  color: #0073cf !important;
}

@media only screen and (max-width: 760px) {
  .navbar-nav {
    font-size: 20px;
  }
  .nav-link {
    border: 1px solid #73c2fb;
    border-radius: 25px;
    margin: 2px 0px;
  }
  .nav-link:hover {
    background-color: #73c2fb;
  }
  .Signup {
    border: none;
    border-radius: 25px;
  }
  .Signup:hover{
    border-radius: 50%;
  }
  .Signin {
    border: none;
    border-radius: 0px;
  }
}

/* .toggle-button{
  position: fixed;
  font-size:40px;
  cursor:pointer;
  color: #E0A800;
  right: 0;
  margin-right: 30px;
  
} */

/* .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
 
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #E0A800;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
 
  }
}
 */

/* ---------------------------------------------------------------------------------------------- */

/* SideLogo */
body {
  background-color: #050a22;
  background-image: url("../assets/Images/img/texture.png");
  font-family: "Raleway", sans-serif;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url("../assets/Images/img/texture.png"); */
}
h3 {
  font-size: 40px;
  color: white;
  font-family: "Raleway", sans-serif;
}
#hublogo {
  color: #1ca9c9;
}

.subtitlelogo {
  margin: 0 0 2rem 0rem;
  font-size: 15px;
}
.bottom-text-logo {
  line-height: 0.2;
  text-align: left;
  color: white;
}
.bottom-text-logo span {
  display: inline-block;
  position: relative;
}
.bottom-text-logo span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #e0a800;
  top: 0;
  width: 35px;
}
.bottom-text-logo span:before {
  right: 100%;
  margin-right: 0px;
}
/*Side Logo  */

/* -------------------------------------------------------------------------------------------- */

/* main layout */
.section-1 {
  height: 100vh;
  background-color: #050a22;
  background-image: url("../assets/Images/img/texture.png");
  font-family: "Raleway", sans-serif;
}
.Middle {
  padding: 10% 0 0 0;
  text-align: center;
}
h1 {
  font-size: 60px;
  color: white;
  font-family: "Raleway", sans-serif;
}
#hub {
  color: #1ca9c9;
}
#hublogo {
  color: #4682b4;
}
.subtitle {
  margin: 0 0 2em 6rem;
  font-size: 20px;
}
.subtitlelogo {
  margin: 0 0 2em 6rem;
  font-size: 20px;
}
.bottom-text {
  line-height: 0.2;
  text-align: center;
  color: white;
}
.bottom-text span {
  display: inline-block;
  position: relative;
}
.bottom-text span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #1ca9c9;
  top: 0;
  width: 85px;
}
.bottom-text span:before {
  right: 100%;
  margin-right: 12px;
}
.Middle-text {
  width: 60%;
  margin: auto;
}
.para {
  color: white;
  text-align: center;
}
@media only screen and (max-width: 760px) {
  .Middle {
    padding: 32% 0 0 0;
    text-align: center;
  }
}

.shake {
  animation-duration: 3s;
  animation-delay: 0s;
}
/* main layout */

/* ---------------------------------------------------------------------------------------------- */

/* what we do */
#Whatdowedo{
  color: #efc0fe;
  font-weight: bold;
 
}

.headerdivider {
  border-left: 3px solid #efc0fe;
  background: #efc0fe;
  width: 3px;
  height: 100%;
  position: absolute;
  right: 50%;
}

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 150px;
  perspective: 1000px;
  margin-right: 800%;
  font-family: "Raleway", sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}
.flip-card-front img {
  width: 130px;
  height: 130px;
  /* border-radius: 50%; */
  float: right;
  padding: 5px;
  margin-top: 20px;
}
.card-text {
  padding: 5px;
  text-align: left;
  margin-top: 20px;
  color: white;
}
.card-text h4 {
  color: #f7dfff;
}
.flip-card-back {
  transform: rotateY(180deg);
  box-shadow: 0 5px 15px #0073cf;
}
.flip-card-back p{
  font-size: 20px;
  color: #1ca9c9;
  margin-top:1.5rem;
  padding: 10px;
}


.flip-card-2 {
  background-color: transparent;
  width: 450px;
  height: 150px;
  perspective: 1000px;
  margin: 5px;
  margin-left: 55%;
  font-family: "Raleway", sans-serif;
}

.flip-card-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-2:hover .flip-card-inner-2 {
  transform: rotateY(180deg);
}

.flip-card-front-2,
.flip-card-back-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 
}


.flip-card-front-2 img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  float: left;
  padding: 5px;
  margin-top: 20px;
}
.card-text-2 {
  padding: 5px;
  text-align: right;
  margin-top: 20px;
  color: white;
}
.card-text-2 h4 {
  color: #f7dfff;
}

.flip-card-back-2 {
  transform: rotateY(180deg);
  box-shadow: 0 5px 15px #0073cf;
}
.flip-card-back-2 p{
  font-size: 20px;
  color: #1ca9c9;
  margin-top: 1.5rem ;
  padding: 5px;
}

@media only screen and (max-width: 760px) {
  .flip-card,
  .flip-card-2 {
    width: 450px;
    height: 170px;
    margin-left: 1%;
    padding: 10px 0px;
  }

  .flip-card-front img{
    float: left;
    width:100px;
    height:100px;
  }
  .flip-card-front-2 img{
    float: left;
    width:100px;
    height:100px;
  }
  .headerdivider {
    display: none;
  }
  .card-text{
    padding: 2px;
    text-align: left;
    margin-top: 35px;
    font-size: 15px;
    
   }
   .card-text-2{
     padding: 2px;
     text-align: left;
     margin-top: 35px;
     margin-left: 10px;
    }

}

/* what we do */

/* --------------------------------------------------------------------------- */

/* What's here for you */
.sectioner {
  background-color: #050a22;
  background-image: url("../assets/Images/img/texture.png");
  font-family: "Raleway", sans-serif;
  height: 90vh;
  margin-top: 20px;
}

.Whatforyou {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
  font-family: "Raleway", sans-serif;
}
.container:hover .card {
  filter: blur(5px);
  transform: scale(0.7);
}
.container .card {
  position: relative;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container .card:hover {
  filter: blur(0px);
  transform: scale(1);
}
.container .card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
   background-image: linear-gradient(#1ca9c9,#050a22);
  z-index: 1;
  transition: 0.5s;
}
.container .card:hover:before {
  /* background-image: linear-gradient(#E0A800,rgba(56,51,48)); */
  background: black;
  transform: scaleY(1.15);
  box-shadow: 0 5px 15px #f7dfff;
}
.container .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: 0.5s;

  /* background: rgba(56, 51, 48, 0.1); */
  z-index: 1;
}
.container .card:hover:after {
  transform: scaleY(1.15);
}
.container .card:hover {
  z-index: 1;
}
.container .card .content {
  text-align: center;
  z-index: 2;
  padding: 0 20px;
  transition: 0.5s;
}
.container .card:hover .content {
  color: #efc0fe !important;
}
.container .card .content h2 {
  font-size: 3em;
}
.container .card .content p {
  font-size: 0.9em;
}
.container .card .content a {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 10px;
  background: #262626;
  color: #fff;
  text-decoration: none;
}
.container .card:hover .content a {
  background: #e0a800;
}
#content-text {
  color: #efc0fe;
  font-size: 25px;
  font-weight: bold;
}

.heading {
  color: #efc0fe;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  margin: 0 0 50px 70px;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
.heading::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  border-radius: 5px;
  background: #b0e0e6;
  left: 0;
  bottom: -20px;
}

@media only screen and (max-width: 760px) {
  .sectioner {
    height: 135vh;
  }
  .container .card {
    width: 200px;
    height: 250px;
  
  }
}

/* What's here for you */

/* ----------------------------------------------------------------------------------------------- */

/* Testimonials */

.section-4 {
  background-color: #050a22;
  background-image: url("../assets/Images/img/texture.png");
  font-family: "Raleway", sans-serif;
}
h2 {
  color: #000;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
h2::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 1px;
  background: #b0e0e6;
  left: 0;
  bottom: -20px;
}
.carousel {
  margin: 50px auto;
}
.carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}
.carousel .media {
  position: relative;
  padding: 0 0 0 20px;
  margin-left: 20px;
}
.carousel .media img {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
}
.carousel .testimonial {
  color: #efc0fe;
  position: relative;
  background-image: linear-gradient( to left ,#1ca9c9,#050a22);
  padding: 25px;
  margin: 0 0 20px 20px;
  font-size: large;
}
.carousel .testimonial::before,
.carousel .testimonial::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.carousel .testimonial::before {
  width: 20px;
  height: 20px;
  background: #9b9b9b;
  box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}
.carousel .testimonial::after {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #050a22;
  border-left-color: #050a22;
}
.carousel .item .row > div:first-child .testimonial {
  margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
  margin-left: 0;
}
.carousel .testimonial p {
  text-indent: 40px;
  line-height: 21px;
  color: #efc0fe;
  margin: 0;
}
.carousel .testimonial p::before {
  content: "``";
  color: #f7dfff;
  font-weight: bold;
  font-size: 68px;
  line-height: 70px;
  position: absolute;
  left: -25px;
  top: 0;
}
.carousel .overview {
  padding: 3px 0 0 15px;
}
.carousel .overview .details {
  padding: 5px 0 8px;
  color: #1ca9c9;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #b0e0e6;
}
.carousel .carousel-control {
  width: 30px;
  height: 30px;
  color: #1ca9c9;
  text-shadow: none;
  top: -80px;
}
.carousel-control i {
  font-size: 16px;
}
.carousel-control.left {
  left: auto;
  right: 40px;
}
.carousel-control.right {
  left: auto;
}
.carousel-indicators {
  bottom: -80px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 1px 4px;
}
.carousel-indicators li {
  background: #1ca9c9;
  border: 4px solid #1ca9c9;
}
.carousel-indicators li.active {
  color: #1ca9c9;
  background: blac;
  border: 5px double;
}
.star-rating li {
  padding: 0 2px;
}
.star-rating i {
  font-size: 14px;
  color: #ffdc12;
}
@media only screen and (max-width: 760px) {
  .carousel .testimonial {
    margin: 0 0 20px 0px;
  }
}

/* Testimonials */

/* ---------------------------------------------------------------------------------------------- */

/* Footer */
.footer{
  background-image: linear-gradient(210deg ,#1ca9c9,#050a22);
 
  padding-top: 40px;
}
/* Segment one  */
.segment-three ul{
  margin-bottom: 25px;
  padding: 0;
  list-style: none;  
}
.segment-three{
  color: black;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;  
}
.segment-three h2{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}
.segment-three h2:before{
  content: '|';
  color: #050a22;
  padding-right: 10px;
}
.segment-three ul li a{
  color: black;
  text-decoration: none;
  padding: 20px;
  
} 
.segment-three ul li a:hover{
  color: white;
}   

/* Segment Two  */
.segment-two{
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}
.segment-two h2{
    font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: white;

}
.segment-two h2:before{
  content: '|';
  color: #050a22;
  padding-right: 10px;
}
.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li{
  border-bottom: 1px solid #050a22;
  line-height: 40px;
}
.segment-two ul li a{
  color: black;
  text-decoration: none;
}
.segment-two ul li a:hover{
  color:white;
}
/* Segment one */
.segment-one{
  margin-bottom: 2rem;
}
.segment-one p{
  margin-top: 2rem;
  color: #000;
  font-weight: bold;
}
.segment-one h2{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.segment-one a{
  background: black;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
.segment-one a:hover{
  background: white;
 
}
.segment-one a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}
.segment-one a i:hover{
color: blue;
}
#instagram:hover{
 color: rgb(209, 56, 95);
}

/* Copyright */
#copyright{
  padding-top: 15px;
  text-align: center; 
  margin-left: 12px; 
  color: white;
} 
#copyright a{
  text-decoration: none;
  color: white;
}
#copyright a:hover{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
#footerlinkheader::after,#Social::after,#Bytecode::after {
    content: "";
    background: #050a22;
}

/* Footer */