@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f0f8ff; */
  /* box-shadow: inset 0 0 5px  #E0A800;  */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6488ea;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6488ea;
}

/* ScrollBar */

/* --------------------------------------------------------------------------------- */

#navbar {
  position: fixed;
  top: -90px;
  width: 10%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-nav {
  text-align: center;
  color: #73c2fb;
  padding: 15px 0px;
}
.navbar-nav a {
  color: #73c2fb !important;
  font-family: "Raleway", sans-serif;
}
.navbar-nav a:hover {
  color: white !important;
  font-size: 20px;
}
.navbar-toggler {
  color: #73c2fb;
}
.custom-toggler.navbar-toggler {
  border-color: #73c2fb;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 168, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.Signin {
  margin: 0 5px;
  border: 1.5px solid #f0f8ff;
  border-radius: 10px;
}
.Signin :hover {
  border-radius: 10px;
  background-color: #f0f8ff;
}

.Signin a {
  color: #73c2fb !important;
}
.Signin a:hover {
  color: #0073cf !important;
}
.Signup {
  margin: 0 5px;
  border: 1.5px solid #f0f8ff;
  border-radius: 10px;
}
.Signup :hover {
  border-radius: 10px;
  background-color: #f0f8ff;
}

.Signup a {
  color: #73c2fb !important;
}
.Signup a:hover {
  color: #0073cf !important;
}

@media only screen and (max-width: 760px) {
  .navbar-nav {
    font-size: 20px;
  }
  .nav-link {
    border: 1px solid #e0a800;
    border-radius: 25px;
    margin: 2px 0px;
  }
  .nav-link:hover {
    background-color: #e0a800;
  }
  .Signup {
    border: none;
    border-radius: 0px;
  }
  .Signin {
    border: none;
    border-radius: 0px;
  }
}
body {
  /* background-color: #182b3a;
  background-image: linear-gradient(860deg, #182b3a 5%, #105a85 90%); */
  background-color: #050a22;
  background-image: linear-gradient(315deg, #020403 0%, #0f0f0f 74%);
  background-image: url("../assets/Images/img/texture.png");
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-family: "Raleway", sans-serif;
}
section {
  color: #b0e0e6;
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #6488ea;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  font-family: "Raleway", sans-serif;
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #b0e0e6;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
.footer {
  background-color: #6488ea;
  background-image: linear-gradient(315deg, #174058 2%, #1e3572 74%);
  /* background-image: url("../assets/Images/img/texture_bg.png"); */
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer h4 {
  color: #fff0f5;
}
