@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* ScrollBar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f0f8ff; 
   box-shadow: inset 0 0 5px  #E0A800; 
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0ae9c4;
  border-radius: 10px;
}
#myBtn {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  color: #fff;
  background: black;
  padding: 12px;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0ae9c4;
}

/* ScrollBar */

p {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(67, 66, 68);
}
/* --------------------------------------------------------------------------------- */

#navbar {
  position: fixed;
  top: -90px;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-nav {
  text-align: center;
  color: #0ae9c4;
  padding: 0px 0px;
} 
body {
  font-family: "Raleway", sans-serif !important;
}
.navbar-nav a {
  color: #0ae9c4 !important;
  font-family: "Raleway", sans-serif;
}
.navbar-nav a:hover {
  color: white !important;
  font-weight: bold;
}
.navbar-toggler {
  color: #0ae9c4;
}
.custom-toggler.navbar-toggler {
  border-color: #0ae9c4;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(10, 233, 196)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.Signin {
  margin: 0 5px;
  border: 1.5px solid #0ae9c4;
  border-radius: 10px;
}
.Signin :hover {
  border-radius: 10px;
  color: #f0f8ff;
}

.Signin a {
  color: #0ae9c4 !important;
}
.Signin a:hover {
  color: #fff !important;
  font-weight: bold;
}
.Signup {
  margin: 0 5px;
  border: 1.5px solid #0ae9c4;
  border-radius: 10px;
}
.Signup :hover {
  border-radius: 10px;
  color: #f0f8ff;

}

.Signup a {
  color: #0ae9c4 !important;
}
.Signup a:hover {
  color: #fff !important;
  font-weight: bold;
}
.dropdown{
  border: 1.5px solid #0ae9c4 !important;
  border-radius: 10px;
}
.logoutbtn{
  width: 100%;
  margin: 0 5px;
  border: 1.5px solid #0ae9c4;
  border-radius: 10px;
  font-weight: bold;
  color: #0ae9c4 
}
.logoutbtn:hover{
color: #fff !important;
}

@media only screen and (max-width: 760px) {
  .navbar-nav {
    font-size: 20px;
  }
  .nav-link {
    border: 1px solid #0ae9c4;
    border-radius: 10px;
    margin: 2px 0px;
  }
  .nav-link:hover {
    background-color: rgb(10, 233, 196);
  }
  .Signup {
    border: none;
    border-radius: 0px;
  }
  .Signin {
    border: none;
    border-radius: 0px;
  }
  .dropdown-menu{
    margin-left: 0px !important;
    border: none !important;
}
.dropdown{
    border: none !important;
}
}
body {
  background-color: black;
  background-image: linear-gradient(315deg, #020403 0%, #0f0f0f 74%);
  background-image: url("../assets/images/scratch.png");
}
body h1 {
  font-family: "Raleway", sans-serif;
}
section {
  color: #f0f8ff;
  padding: 60px 0;
  overflow: hidden;
}

/* .section-bg {
} */

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #6488ea;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  font-family: "Raleway", sans-serif;
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #b0e0e6;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
/* Footer */
.footer {
  background-color: #0ae9c4;
  padding-top: 40px;
}

.bg-footer {
  color: #40dfcc;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  /* background-image: url("../assets/images/img/texture.png"); */
}
.bg-footer a {
  color: #fff;
  text-decoration: none;
}
.bg-footer a:hover {
  color: #40dfcc;
}
.logo-footer {
  margin-top: -20px;
  display: inline-block;
}
.logo-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  border-color: #494a43 !important;
  color: #40dfcc !important;
  /* padding-top: 275px; */
}
footer .links {
  margin-left: 5%;
  margin-top: 1%;
}
footer .links2 {
  margin-top: 1%;
}
.links2 h4 {
  color: transparent;
}
#Facebook:hover,#Twitter:hover,#linkedin:hover{
  color: blue;
}
#Instagram:hover{
  color:rgb(235, 4, 100)
}


/* Footer */
